
html{
    width: 200px;
    height: 300px;
    background-color:  #C4C4C4;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    padding: 0px;
    margin: 0px;
  
}

body{

    padding: 0px;
    margin: 5px;
    margin-top: 0px;
    
 
}

h1{
    font-size: 22px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 700;
    margin-top: 8px;
    margin-left: 690px;
    color: #505050;
}
h3{
    margin: 0px;
    margin-bottom: 2px;
    margin-top: 70px;
    margin-left: 145px;
    font-size: 15px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 700;
    color: #353535;
}
/*
#usuarioLabel{
    
}*/

#contrasenaLabel{
    margin-top: 30px;
}


header{ 
    text-align: center;
    width: 100%;
    height: 40px;
    margin: 0;
    padding-left: 0;
    padding-top: 0px;
    padding-bottom: 2px;
    font-weight: 500;
    border-bottom:3px solid #757575;
    background: #C4C4C4;
    /* background: linear-gradient(#FFC907, #FFA63E); */
    text-align: left;
    display: flex;
}



#contenedorLogin{
    margin: 0 auto;
    margin-top: 30px;
    margin-left: 535px;
    width: 450px;
    height: 500px;
    text-align: center;

    display: table-cell;
    vertical-align: middle;
    display: inline-block;
    text-align: left;

    background-color: grey;
}

#retroceso{
    margin-top: 15px;
}

.button{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 600;
    color: #353535;
    margin-top: 110px;
    margin-left: 25px;
    text-decoration: none;
    border: none;
    width: 400px;
    height: 30px;
    border: 3px solid #757575;
    vertical-align: middle;
}

#contrasena{
    margin-top: 10px;
}

.textBox{
    height: 25px;
    margin-top: 10px;
    margin-left: 145px;
    vertical-align: middle;
}

#capyLogin{
    padding-left: 710px;
}

#problema{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 600;
    color: #c41919;
    margin-top: 20px;
    margin-left: 165px;
}
