html, body{
    background-color: grey;
    height: 100%;
}

#contenedor{
    display: flex;
    justify-content: center;
    height: 100%;
}

#listas, listaDeListas, .elementoLista{
    display: block;
}


#listaDeListas{
    list-style-type: none;
    background-color: green;
}

.elementoLista{
    font-size: 15px;
    margin: 10px;
    border: black solid 5px;
    background-color: #fff;
}



.listas, .productos, .informacion{
    margin: 3px;
}


.listas{
    width: 350px;
    background-color: orange;
}

.productos{
    width: 550px;
    background-color: violet;
}

.informacion{
    width: 400px;
    background: rgb(162, 255, 75);
}