
/* BOKITA */
/* :root {
    --fondoPag: #1E1E1E;
    --borde: #363636;
    --contenedor: #254974;
    --complementario: #E6DDA2;
    --lineas: #243E5E;
  } */

/* Turquesa */  
/* :root {
    --fondoPag: #EDDFCA;
    --borde: #EDDFCA;
    --contenedor: #77C1AB;
    --complementario: #f8f8f8;
    --lineas: #3DAEB6;
  }  */

/* Gris */  
/* :root {
    --fondoPag: #FFFFFF;
    --borde: #757575;
    --contenedor: #C4C4C4;
    --complementario: #757575;
    --lineas: #AFAFAF;
    --texto: #3a3a3a;
  }  */

/* Verde */  
:root {
    --fondoPag: radial-gradient(50% 50% at 50% 50%, #201C24 0%, #08070A 100%);
    --borde: #ffffff05;
    --secundario: #4c7463a1;
    --contenedor: linear-gradient(360deg, rgba(47,50,57,1) 1%, var(--secundario) 100%);
    --complementario: #ececec;
    --lineas: #ffffff0a;
    --texto: #d3caae;
    --texto2: #d3caae;
    --fuente: 'Spinnaker';
    --fuente2: 'Spartan', sans-serif;
  } 


/* Violeta */  
/* :root {
    --fondoPag: radial-gradient(50% 50% at 50% 50%, #292929 0%, #0f0f0f 100%);
    --borde: #757575;
    --secundario: #4c7463a1;
    --contenedor: linear-gradient(180deg, #783CC5 0%, #2F3DB7 100%), linear-gradient(270deg, #FFFFFF 0%, #E4EAFF 100%);
    --complementario: #ff0000;
    --lineas: #ffffff0a;
    --texto: #ffffff;
    --texto2: #ffffff;
    --fuente: 'Spinnaker';
    --fuente2: 'Spartan', sans-serif;
  }  */



  


html, body{
    background: var(--fondoPag);    
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    border: 0;
    
    
    align-content: center;


}


html{
    height: 100%;
    padding: 0px;
    width: 100%;
}

body{
    height: 75%;
    padding: 20px;
    overflow-x: hidden;
    width: 95%;
    margin:0 auto;
}



h1{
    margin: 0;
    color:var(--texto);
    font-family:  var(--fuente);
    font-size: 65px;
    font-weight: 400;
}

h3{
    margin: 0;
    color:var(--texto);
    font-family:  var(--fuente2);
    font-weight: 300;
    margin-top: 10px;
    font-size: 20px;
}

#header{ 
    text-align: center;
    width: calc(100% - 20px);
    height: 90px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-top: 15px;
    font-family:  var(--fuente1);
    /* outline:5px solid var(--borde);
    background: var(--contenedor); */
    border-radius: 10px;
    background: var(--contenedor);
    /* background: linear-gradient(#FFC907, #FFA63E); */
    /* text-align: left; */
    /* display: flex; */
}
#capyCara{
    padding-top: 9px;
    padding-left: 25px;
}



#contenedorbotones{
    height: 50px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.btn{

    border-radius: 10px;
    font-size: 25px;
    width: 25%;
    outline:none;
    box-shadow: none;

    border: none;
    color: var(--texto);
    margin-right: 15px;
    background: var(--contenedor);
    font-family:  var(--fuente2);
    font-weight: 400;
    cursor: pointer;
    display: table-cell;
    vertical-align: middle;
    /* outline:5px solid var(--borde); */

}

#btnContacto{
    margin-right: 0;
}


.Menu{
    border-radius: 10px;

    height: 50px;
    width: 220px;
    position:absolute;      
    /* border:3px solid var(--borde); */
    background: #3f3f3f;
}

.contextMenu{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    display: block;
}

.menuItem{
    display: block;
    width: 100%;
    padding-left: 10px;
    margin: 0px;
    margin-top: 10px;
    font-size: 14px;
    color: var(--texto);
    cursor:pointer;
    font-family:  var(--fuente2);
    font-weight: 600;
    text-decoration: none;
    text-align: left;
   
}

#cambiarNombreLista{
    padding-right: 78px;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.24); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.267); 
}

/* Seguimientos */

#seguimientosHTML{ 
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;

}

#listas, #listasUl, .elementoLista, #productosUl{
    font-family:  var(--fuente2);
    display: block;
    
}
#listasUl, #productosUl{
    
    height: calc(100% - 30px);
    overflow-y: scroll;
    overflow-x: hidden;
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    
}
.elementoLista, .productoEnLista, .informacionProducto, #contenedorInformacion{   
    font-family:  var(--fuente2);
    text-decoration: none;
    list-style-type: none;
    color: var(--texto2);
    background: var(--lineas);
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    height: 40px;
    padding-top: 10px;
    padding-left: 10px;

    margin-bottom: 5px;
    text-align: left;
    vertical-align: middle;
    cursor: pointer;
}

#contenedorInformacion{
    overflow-y: scroll;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 60px;
}


.informacion{
    overflow: hidden;
    padding: 0px;
}



.listas, .productos, .informacion{
    margin-top: 20px;
    overflow-y: hidden;
    /* outline:5px solid var(--borde); */
    border-radius: 10px;
}


.listas{
    width: 24.75%;
    margin-right: 30px;
    background: var(--contenedor);
    margin-right: 15px;
}

.productos{
    width: 50.35%;
    margin-right: 30px;
    background: var(--contenedor);
    margin-right: 15px;
  
}

.informacion{
    display: block;
    overflow-x: hidden;
 
    align-items: center;
    text-align: center;
    width: 24.75%;
    background: var(--contenedor);
    align-content: center;

}
.informacionProducto{
    
    padding-top: 10px;
}

#contenedorImagen{
    margin: 0 auto;
    border-radius: 10px; 
    align-content: center;
    background-color: var(--lineas);
    overflow: hidden;
    width: 350px;
    height: 300px;
}

.imagenProducto{
    width: 105%;
    height: 105%;
}






/* Animacion */

@keyframes animacion1productos{
    0%{
        transform: translateX(500%);
        }
    100%{
        transform: translateX(0px);
        }
}

.productos.animacion{
    animation: animacion1productos 0.4s forwards 0s linear;
}


@keyframes animacion1listas{
    0%{
        transform: translateX(100%);
    }
    50%{
        transform: translateX(120%);
    }
    100%{
        transform: translateX(0px);
    }
}

.listas.animacion{
    animation: animacion1listas 0.4s forwards 0s linear;
}

@keyframes animacion2productos{
    0%{
        transform: translateX(24.9%);
    }
    50%{
        transform: translateX(35%);
    }
   
    100%{
        transform: translateX(0px);
    }
}

.productos.animacion2{
    animation: animacion2productos 0.4s forwards 0s linear;
}


@keyframes animacion2listas{
    0%{
        transform: translateX(50%);
    }
    50%{
        transform: translateX(70%);
    }
    100%{
        transform: translateX(0px);
    }
}

.listas.animacion2{
    animation: animacion2listas 0.4s forwards 0s linear;
}


@keyframes animacion2informacion{
    0%{
        transform: translateX(500%);
        }
    100%{
        transform: translateX(0px);
        }
}

.informacion.animacion2{
    animation: animacion2informacion 0.4s forwards 0s linear;
}

@media (max-width: 960px) and (min-width: 501px) {
    #productosUl li {font-size: 15px;  width: 98%;}
    #contenedorInformacion h3 {font-size: 14px;  width: 100%;}
    #contenedorImagen {  width: 150px; height: 150px;}

}
