html{
    width: 200px;
    height: 300px;
    background-color: rgb(255, 238, 0);
}

#contenedor{
    font-family: sans-serif;
    color: rgb(47, 47, 47);
    margin: 0 auto;

}
li{
    margin-bottom: 20px;
}

.custom-select {
    position: relative;
    font-family: Arial;
    display: inline;
  }
  
  button{
      display: inline;
  }